{% extends 'djangoApp/main.html' %}

{% block content %}
<style>
    body {
        background-color: rgb(210, 202, 202);
    }
</style>

<div>
    <h2>Total Training Time</h2>
    <p>{{ total_days }} days, {{ total_hours }} hours, and {{ total_minutes }} minutes</p>
</div>

<div>
    <canvas id="proficiencyChart" width="400" height="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('proficiencyChart').getContext('2d');
    var proficiencyChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for item in proficiency_counts %}'{{ item.Status }}',{% endfor %}],
    datasets: [{
        label: 'Proficiency',
        data: [{% for item in proficiency_counts %}{{ item.count }}, {% endfor %}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
                borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
        title: {
            display: true,
            text: 'Technique Proficiency',
            font: {
                size: 20
            } 
        }
        }
    }
});
</script>

{% endblock %}


       