{% extends 'djangoApp/home.html' %}

{% block content %}
<style>
    body {
        background-color: rgb(210, 202, 202);
    }
</style>
<div class="content-container">
    <br>
<div class="row">
    <div class="col-md-12">
        <h5>Your Technique Library</h5>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <!-- Button to toggle the visibility of the form -->
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#searchForm" aria-expanded="false" aria-controls="searchForm">
            Search
        </button>
        <div class="collapse" id="searchForm">
            <div class="card card-body">
                <form style="color:black" method="get">
        <div class="card card-body">
            <form style="color:black" method="get">
                {{tFilter.form}}
            <button class="btn btn-secondary" type="submit">Search</button>
            <a href="{% url 'techniquelibrary' %}" class="btn btn-warning">Clear</a>
            </form>
        </div>
    </div>
</div>

    <br>
        <hr>
        <div class = "card card-body">
            <a class="btn btn-secondary btn-sm btn-block" href ="{% url 'techniqueform' %}">Create New Technique
            </a>
            <table class="table table-sm">
                <tr>
                    <th>Technique Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Media</th>
                    <th>Update</th>
                    <th>Remove</th>
                
                </tr>
                {% for i in techniqueentry %}
                    <tr>
                        <td>{{i.Technique_Name}}</td>
                        <td>{{i.Description}}</td>
                        <td>{{i.Status}}</td>
                        <td>
                            {% if i.image %}
                                <a href="{% url 'serve_presigned_media' file_key=i.image.name %}" target="_blank">Image</a>
                            {% endif %}
                            {% if i.image and i.video %} | {% endif %} <!--  separator if both image and video exist -->
                            {% if i.video %}
                                <a href="{% url 'serve_presigned_media' file_key=i.video.name %}" target="_blank">Video</a>
                            {% endif %}
                        </td>
                        
                        <td><a class="btn btn-secondary btn-sm btn-danger" href="{% url 'updatetechnique' i.id %}">Update</a></td>
                        <td><a class="btn btn-secondary btn-sm btn-danger" href="{% url 'deletetechnique' i.id %}">Remove</a></td>

                    </tr>

                {% endfor %}
            </table>
        </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
